{% extends 'base.html.twig' %}

{% block title %}FunStock !{% endblock %}

{% block body %}

    {# We get (without displaying) all the battle details to show them inside the modal #}
    
    {% for battle in all_battles %}
        <div style="display:none;">
            <div id="{{ battle.id }}_battle_preview_amount">
                {{ battle.amount }}
            </div>
            <div id="{{ battle.id }}_battle_preview_stock">
                {{ battle.stock }}
            </div>
            <div id="{{ battle.id }}_battle_preview_variation_direction_prediction">
                {{ battle.stockVariationDirectionPrediction }}
            </div>
        </div>
    {% endfor %}

    <div class="main_boxes_row">
        <div class="main_box">
            <div class="main_box_title_container">
                <h1 class="main_box_title">Your stats</h1>
            </div>
            <div id="stats_buttons_container">
                    <a href="#wins_chart" class="stats_button" id="wins_stats_button">Wins / defeats</a>
                    <a href="#stock_valuation_chart" class="stats_button" id="stock_valuation_stats_button">My stock valuation</a>
                </div>
                <div id="stats_chart_container">
                    <canvas class="stats_chart" id="wins_chart"></canvas>
                </div>
        </div>
        <div class="main_box">
            <div class="main_box_title_container">
                <h1 class="main_box_title">Challenge your friends</h1>
            </div>
            {% for user in all_users_but_logged_one %}
            <div id="battle_friends_box_wrapper">
                <div class="profile_box_container">
                    <div class="profile_picture_container">
                        <img src="{{ asset('uploads/profile_man.jpg') }}">
                    </div>
                    <h3>{{ user.firstName }}</h3>
                </div>
                <div class="stock_valuation_box_container">
                    <h3>Victory rate</h3>
                    <div class="progress_bar">
                        <div class="progress-done" data-done={% if (user.numberOfLostBattles + user.numberOfWinnedBattles) != 0 %}{{ user.numberOfWinnedBattles / (user.numberOfLostBattles + user.numberOfWinnedBattles)*100 }}{% else %}"100"{% endif %}></div>
                    </div>
                </div>
                <div class="last_battles_box">
                    <div>{{ user.numberOfWinnedBattles }} wins</div>
                    <i class="fa-solid fa-trophy"></i>
                    <div>{{ user.numberOfLostBattles }} losses</div>
                    <i class="fa-solid fa-skull-crossbones"></i>
                </div>
                <a class="battle_btn" href="#battle_modal" id="{{ user.id }}_battle_btn">
                    <div class="not-clickable">Fight {{ user.firstName }}</div>
                    <i class="fa-solid fa-bomb not-clickable"></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="main_boxes_row">
        <div class="main_box">
            <div class="main_box_title_container">
                <h1 class="main_box_title">My battle requests</h1>
            </div>
            {% if pending_inbound_battle_requests %}
                {% for pending_inbound_battle_request in pending_inbound_battle_requests %}
                    <div class="battle_request_box_wrapper" id="{{ pending_inbound_battle_request.id }}_battle_request_box_wrapper">
                        <div class="profile_box_container">
                            <div class="profile_picture_container">
                                <img src="{{ asset('uploads/profile_man.jpg') }}">
                            </div>
                            <h3>{{ pending_inbound_battle_request.attacker.firstName }}</h3>
                        </div>
                        <a href="#view_battle_request_modal" class="view_battle_request_btn" id="{{ pending_inbound_battle_request.id }}_view_battle_request_btn">
                            <div class="not-clickable">View the challenge</div>
                        </a>
                        <a href="#" class="accept_battle_request_btn" id="{{ pending_inbound_battle_request.id }}_accept_battle_request_btn">
                            <span class="not-clickable">Accept</span>
                            <i class="fa-solid fa-check not-clickable"></i>
                        </a>
                        <a href="#" class="decline_battle_request_btn" id="{{ pending_inbound_battle_request.id }}_decline_battle_request_btn">
                            <span class="not-clickable">Decline</span>
                            <i class="fa-solid fa-check not-clickable"></i>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pending_outbound_battle_requests %}
                {% for pending_outbound_battle_request in pending_outbound_battle_requests %}
                    <div class="battle_request_box_wrapper" id="{{ pending_outbound_battle_request.id }}_battle_request_box_wrapper">
                        <div class="profile_box_container">
                            <div class="profile_picture_container">
                                <img src="{{ asset('uploads/profile_man.jpg') }}">
                            </div>
                            <h3>{{ pending_outbound_battle_request.defender.firstName }}</h3>
                        </div>
                        <a href="#view_battle_request_modal" class="view_battle_request_btn" id="{{ pending_outbound_battle_request.id }}_view_battle_request_btn">
                            <div class="not-clickable">View the challenge</div>
                        </a>
                        <div class="pending_inbound_battle_request_disclaimer_container">
                            <span>Pending...</span>
                            <i class="fa-regular fa-clock"></i>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="main_box">
            <div class="main_box_title_container">
                <h1 class="main_box_title">Buy stocks</h1>
            </div>
            <div id="buy_sell_stock_box_wrapper">
                {{ form_start(buy_or_sell_stocks_form, {'attr' : {'id' : 'buy_or_sell_stocks_form'}}) }}
                    <div id="amount_and_currency">
                        <div id="currency_symbol">€</div>
                        <input type="number" min="0" name="stock_amount" id="stock_amount_input" value="0">
                    </div>
                    <div id="buy_stock_container">
                        <div id="buy_stock_contextual_text">Buy</div> 
                        {{ form_row(buy_or_sell_stocks_form.stock, {'label': false, 'id': 'stock_input'}) }}
                    </div>
                    <div id="submit_btn_container">
                        <button id="submit_btn" type="submit">Confirm</button>
                    </div>
                {{ form_end(buy_or_sell_stocks_form) }}
            </div>
        </div>
    </div>
    {% include 'modals/battleModal.html.twig' %}
    {% include 'modals/viewBattleRequestsModal.html.twig' %}
{% endblock %}
