<div class="modal" id="choose_stock_modal" style="display:none;">
    <div class="modal_wrapper choose_stock_modal_stop" aria-hidden="true" roles="dialog" aria-labelled-by="modal_title">
        {% for stock in all_stocks %}
            <a href="#" class="stock_card" id="{{ stock.id }}_stock_card">
                <div id="cards_container not-clickable">
                    <div class="identity_container not-clickable">
                        <div class="stock_name not-clickable">{{ stock.companyName }}</div>
                        <div class="stock_symbol not-clickable">{{ stock.symbol }}</div>
                    </div>
                    <div class="stock_img_container not-clickable">
                        <img src="{{ stock.logo }}">
                    </div>
                    <div class="stock_information_container not-clickable">
                        <div class="stock_last_30_days_evolution not-clickable">{{ stock.currentPrice }} €</div>
                        <div class="stock_price not-clickable">{{ stock.last30DaysEvolution }} %</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>