<div class="modal" id="fight_modal" style="display:none;">
    <div class="modal_wrapper fight_modal_stop" aria-hidden="true" roles="dialog" aria-labelled-by="modal_title">
        {{ form_start(battle_form, {'attr' : {'id' : 'fight_form'}}) }}
            <div class="form" id="fightModal_step1">
                <p>On which stock do you want to bet ?</p>
                <div>Search...</div>
                {{ form_label(battle_form.stock, 'Nom de l\'action') }}
                {{ form_row(battle_form.stock) }}
                <div class="btn_box">
                    <button type="button" id="fightModal_next1">Next</button>
                </div>
            </div>
            <div class="form" id="fightModal_step2">
                <p>What is your predicition ?</p>
                {{ form_label(battle_form.stockDirectionPrediction, 'Prediction') }}
                {{ form_row(battle_form.stockDirectionPrediction) }}

                <div class="btn_box">
                    <button type="button" id="fightModal_back1">Back</button>
                    <button type="button" id="fightModal_next2">Next</button>
                </div>
            </div>

            <div class="form" id="fightModal_step3">
                <p>How much do you want to bet ?</p>
                {{ form_label(battle_form.stockDirectionPrediction, 'Amount') }}
                {{ form_row(battle_form.amount) }}
                <div class="btn_box">
                    <button type="button" id="fightModal_back2">Back</button>
                </div>
            </div>
        <button type="submit">Submit</button>
        {{ form_end(battle_form) }}
    </div>
</div>