<div class="modal" id="fight_modal" style="display:none;">
    <div class="modal_wrapper fight_modal_stop" aria-hidden="true" roles="dialog" aria-labelled-by="modal_title">
        <h3>Fight Jack</h3>
        <form action="{{ path('home') }}">
            <div class="form" id="fightModal_step1">
                <p>On which stock do you want to bet ?</p>
                <div>Search...</div>
                <select name="stock">
                    {% for stock in all_stocks %}
                    <h2>{{ stock.companyName }}</h2>
                    <option type="checkbox" name="{{ stock.companyName }}" value="{{ stock.companyName }}">{{ stock.companyName }}</option>
                    {% endfor %}
                </select>
                <div class="btn_box">
                    <button type="button" id="fightModal_next1">Next</button>
                </div>
            </div>

            <div class="form" id="fightModal_step2">

                <p>What is your predicition ?</p>
                <select name="stock">
                    <option type="checkbox" name="prediction_direction" value="up">Stock price is going to go up</option>
                    <option type="checkbox" name="prediction_direction" value="down">Stock price is going to go down</option>
                </select><br>
                In <input type="text" name="prediction_date" placeholder="ex: 30"> days <br>
                By <input type="text" name="prediction_percentage" placeholder="ex: 150"> %
                <div class="btn_box">
                    <button type="button" id="fightModal_back1">Back</button>
                    <button type="button" id="fightModal_next2">Next</button>
                </div>
            </div>

            <div class="form" id="fightModal_step3">
                <p>How much do you want to bet ?</p>
                <input type="text" name="bet_amount" placeholder="ex: 500"> €
                <div class="btn_box">
                    <button type="button" id="fightModal_back2">Back</button>
                </div>
            </div>
        <button type="submit">Submit</button>
        </form>
    </div>
</div>